:host {
  height: 100%;
  min-height: 100px;
  background: #FAFAFA;
}

.image-uploadab-add {
  height: 100%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  height: 100%;
  background: #FAFAFA;
  display: block;
  text-align: center;
  color: #3997BA;
  cursor: pointer;
  margin: 0;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
}

.inputfile:hover + label {
  background-color: #e8e8e8;
}

.hover label {
  background: #ececec;
}

.center-aligned {
  position: relative;
  top: calc(50% - 14px);
}
