<div class="image-uploadab-add" [ngClass]="{'hover': hover}">
  <input type="file" #file (change)="selectFile(file)" name="file" accept="image/*" id="file" class="inputfile" />
  <label for="file">
    <div class="center-aligned"><i class="icon big blue add circle"></i>  Add image</div>
  </label>
</div>
