<div class="ui container">
  <form #sf="ngForm" class="ui form" (submit)="onFormSubmited($event, sf)">
    <div class="ui three column padded grid centered">
      <div class="sixteen wide mobile eleven wide tablet eleven wide computer column">
        <div class="ui left labeled icon input fluid">
          <div class="ui dropdown label inverted green selection drop" (click)="open()" #dropDownEl>
            <div class="text">{{selected || 'All'}}</div>
            <i class="sort icon"></i>
            <div class="menu" [ngClass]="{'transition visible animating slide down in': dropdownOpen}">
              <a class="item" (click)="selectCategory(category.displayName)" *ngFor="let category of categories">{{category.displayName}}</a>
            </div>
          </div>
          <i class="remove link icon" (click)="clearBox(sf.controls.search)" *ngIf="sf.value.search?.length"></i>
          <input name="search" autocomplete="off" [ngModel]="search" type="text" placeholder="I'm looking for...">
        </div>
      </div>
      <div class="sixteen wide mobile five wide tablet four wide computer column second">
        <div class="ui input fluid">
          <div class="ui input icon right mobile">
            <i class="remove link icon" (click)="clearBox(sf.controls.location)" *ngIf="sf.value.location?.length"></i>
            <input name="location" autocomplete="off" [ngModel]="location" type="text" placeholder="Location...">
          </div>
          <button type="submit" class="ui button green margin compact">GO</button>
        </div>
      </div>
    </div>
  </form>
</div>
