@import "../../../colors.less";

:host {
  background: @search-component-background;
  border: 1px solid @gray-color;
  display: block;
  padding: 5px 0;
}

.drop {
  min-width: 100px !Important;
  text-align: center;
  z-index: 1;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.drop .menu {
  min-width: 200px !Important;
  margin-top: 2px;
}

.drop .menu .item.active {
  border-left: 5px solid @green-color;
  color: @green-color;
}

.drop .text {
  padding: 0 10px;
}

.margin {
  margin-left: 15px;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-left: .5rem;
  padding-right: .5rem;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .ui.grid>[class*="sixteen wide mobile"].column.second {
    margin-top: -15px;
  }
  .ui.mobile.input {
    width: 100%;
  }
}
