<div class="ui four column doubling grid top-margin" #masonryGrid>
    <div class="four wide computer four wide tablet six wide mobile column custom-widths">
      <a class="item" href="login">
        <div class="ui card post-an-ad-card">
          <div class="middle aligned content">
            <div class="postad-text">
              <span>POST AN AD</span>
            </div>
          </div>
      </div>
      </a>
    </div>
    <div #items class="four wide computer four wide tablet six wide mobile column pottarachu custom-widths" *ngFor="let item of ( recommendedCards$ | async )">
        <div class="ui card citzy-cards">
            <div class="image">
                <img src="{{ item.image }}">
            </div>
            <div class="content">
                <div class="ui small header">{{ item.name | uppercase }}</div>
                <div class="description">
                    {{ item.description }}
                </div>
            </div>
            <div class="extra content">
                $ {{ item.price }}
            </div>
        </div>
    </div>
</div>
