@import "../../../../colors.less";
@import "../../../../layout.less";

.citzy-cards {
  box-shadow: 5px 4px 5px 0px #D4D4D5, 0 0 0 1px #D4D4D5!important;
}

.content .ui.small.header {
  color: @name-on-cards-text-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Custom width for tablet to show 3 columns */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.grid>.four.wide.tablet.custom-widths {
    width: 33%!important;
  }
}

.post-an-ad-card {
  z-index: 900;
  background: #EEECEE;
  border: 1px solid #6EB947;
  height: 140px;
}

.post-an-ad-card div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  content: 'Ad';
  color: #FFF;
  font-size: 1em;
  font-weight: 700;
}

.postad-text span {
  color: black;
}

.top-margin { margin-top: 10px; }
