<div class="ui container fluid whiteBackground top-wrapper">
  <div class="ui container">
    <!-- Computer and tablet top location and top searches grid -->
    <div class="ui column padded computer tablet only grid">
        <div class="sixteen wide column">
          <div class="ui horizontal segments top-search-location-borders-shadow">
            <div class="ui center aligned segment top-location-search" #topsearchesEl [ngClass]="{'active-segment': topSearchesActive}">
                Top Searches
            </div>
            <div class="ui center aligned segment top-location-search" #toplocationEl [ngClass]="{'active-segment': !topSearchesActive}">
                Top Location
            </div>
          </div>
        </div>

        <!-- Top searches -->
        <div class="four wide column" *ngFor="let chunks of loadTopSearches(4)" [ngClass]="{'inactive-segment': !topSearchesActive}">
          <div class="ui list top-location-search-links">
            <div class="item" *ngFor="let item of chunks">{{ item.name }}</div>
          </div>
        </div>
        <!-- Top searches - end -->

      <!-- Top location - start -->
      <div class="sixteen wide column" [ngClass]="{'inactive-segment': topSearchesActive}">
          <app-accordion-group title="{{ item.title }}" className="styled fluid accordion" *ngFor="let item of toplocations">
            <div class="ui horizontal list">
              <a class="item" *ngFor="let item of item.cities">
                {{ item.name }}
              </a>
            </div>
          </app-accordion-group>
      </div>
      <!-- Top location - end -->
    </div>
    <!-- Computer and tablet top location and top searches grid - END -->

    <!-- Mobile top location and top searches grid -->
    <div class="ui column mobile only centered divided grid">
      <div class="sixteen wide column">
        <div class="ui huge divided relaxed link list">
          <div class="item">
            <a class="item basic" #topsearchesMobileEl>
              <div class="middle aligned content">
                Top Searches
                <i class="plus black icon right floated"></i>
              </div>
            </a>
            <div class="ui list" *ngFor="let chunks of loadTopSearches(1)" [ngClass]="{'inactive-sublist': !topSearchesMobileActive}">
              <a class="item"  *ngFor="let item of chunks">{{ item.name }}</a>
            </div>
          </div>
          <div class="item">
            <a class="item basic" #toplocationMobileEl>
              <div class="middle aligned content">
                Top Location
                <i class="plus black icon right floated"></i>
              </div>
            </a>
            <div class="ui list" [ngClass]="{'inactive-sublist': !topLocationMobileActive}">
              <app-accordion-group title="{{ item.title }}" className="styled fluid accordion" *ngFor="let item of toplocations">
                <div class="ui horizontal list">
                  <a class="item" *ngFor="let item of item.cities">
                    {{ item.name }}
                  </a>
                </div>
              </app-accordion-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile top location and top searches grid - END -->
  </div>
</div>

<!-- @TODO mobile screen tabs! -->
