@import "/../../../colors.less";
@import "/../../../layout.less";

.active-segment.top-location-search {
  color: @ahref-top-location-and-searches-color;
}

.top-location-search {
  color: @ahref-top-location-and-searches-color-inactive;
}

.top-location-search-links .item {
  color: @ahref-top-location-and-searches-color;
}

/* Top searches & Top location borders for active / inactive tab */
.ui.horizontal.segments.top-search-location-borders-shadow {
  border: none;
  box-shadow: none;
}

.ui.horizontal.segments.top-search-location-borders-shadow .segment {
  border-bottom: @top-searches-and-location-border;
}

.ui.horizontal.segments.top-search-location-borders-shadow .active-segment:first-child {
  border-bottom: none;
  border-left: @top-searches-and-location-border;
  border-top: @top-searches-and-location-border;
  border-right: none;
}

.ui.horizontal.segments.top-search-location-borders-shadow .active-segment:last-child {
  border-bottom: none;
  border-left: @top-searches-and-location-border;
  border-top: @top-searches-and-location-border;
  border-right: @top-searches-and-location-border;
}
/* Top searches & Top location borders for active / inactive tab - end */

.inactive-segment {
  display: none!important;
}

.top-location-search:not(.active-segment) {
  cursor: pointer;
}

.ui.horizontal.list a.item {
  color: @name-on-cards-text-color;
}

.inactive-sublist {
  display: none!important;
}

// add padding on top component on all resolutions except mobile
@media (min-width: @tabletBreakpoint) {

  .top-wrapper {
    padding-bottom: 15px;
  }

}

