<i class="circle icon" [ngClass]="{'green': strength > 0}"></i>
<i class="circle icon" [ngClass]="{'green': strength > 1}"></i>
<i class="circle icon" [ngClass]="{'green': strength > 2}"></i>
<i class="circle icon" [ngClass]="{'green': strength > 3}"></i>
