<div class="ui container">
<header class="mycitzy-header">
    <div class="header-inner">
        <nav class="header-nav" role="navigation">
            <div class="ui inverted menu navbar">

                <div class="item header-text" title="{{title}}">
                  <a routerLink="/" class="ui header">{{ title }}</a>
                </div>

                <div class="right menu">
                    <a href="" class="computer-icons item">
                        <i class="sign in icon"></i>
                        Login
                    </a>
                    <a href="" class="computer-icons item">
                        <i class="help icon"></i>
                        Help
                    </a>

                    <div class="ui dropdown item computer-icons" (click)="open()" #dropDownEl>
                        My Citzy <i class="dropdown icon"></i>
                        <div class="menu my_citzy_dropdown" [ngClass]="{'transition visible animating slide down in': dropdownOpen}">
                            <a class="item"><i class="folder open icon"></i> Manage my Ads</a>
                            <a class="item"><i class="mail icon"></i> Messages</a>
                            <a class="item"><i class="star icon"></i> Favourites</a>
                            <a class="item"><i class="alarm icon"></i> My Alerts</a>
                            <a class="item"><i class="user icon"></i> My Details</a>
                            <a class="item"><i class="add user icon"></i> Create Account</a>
                        </div>
                    </div>

                    <div class="ui column padded grid computer-icons">
                        <div class="sixteen wide column ">

                          <a routerLink="/login" class="ui animated fade basic green button post-an-ad" tabindex="0" title="Post an ad">
                            <div class="visible content">Post an ad</div>
                            <div class="hidden content">
                              <i class="icon announcement"></i>
                            </div>
                          </a>
                        </div>
                    </div>

                    <a href="" class="mobile-menu-icons item"><i class="pin large icon"></i></a>
                    <a href="" class="mobile-menu-icons item"><i class="search large icon"></i></a>
                    <div class="mobile-menu-icons ui dropdown item"
                         [ngClass]="{mobile_menu_active: mobileMenuActive}"
                         (click)="openMobileMenu($event.target)"
                         #dropDownElMobileMenu>
                        <i class="content large icon"></i>
                        <div class="menu mobile_menu" [ngClass]="{'transition visible animating slide left in': dropDownMobileOpen}">
                            <a class="item" (click)="navigate('/')"><i class="folder open icon"></i> Home</a>
                            <a class="item" (click)="navigate('/login')"><i class="announcement icon"></i> Post an ad</a>

                            <div class="header" disabled>My Citzy</div>
                            <a class="item" (click)="navigate('/')"><i class="star icon"></i> Favourites</a>
                            <a class="item" (click)="navigate('/')"><i class="alarm icon"></i> My Alerts</a>
                            <a class="item" (click)="navigate('/')"><i class="folder open icon"></i> Manage my Ads</a>
                            <a class="item" (click)="navigate('/')"><i class="mail icon"></i> Messages</a>
                            <a class="item" (click)="navigate('/')"><i class="user icon"></i> My Details</a>
                            <a class="item" (click)="navigate('/')"><i class="add user icon"></i> Create Account</a>
                            <a class="item" (click)="navigate('/')"><i class="sign in icon"></i> Login</a>

                            <div class="header" disabled>More information</div>
                            <a class="item" (click)="navigate('/')"><i class="help circle icon"></i> Help & Contact</a>

                            <div class="header" disabled>Browse categories</div>
                            <a class="item" (click)="navigate('/')"><i class="car icon"></i> Motors</a>
                            <a class="item" (click)="navigate('/')"><i class="money icon"></i> For Sale</a>
                            <a class="item" (click)="navigate('/')"><i class="soccer icon"></i> Soccer</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
</div>
