@import "../../../colors.less";

:host {
  background: @header-background;
  display: block;
}

:host.active {
  position: relative;
  display: inherit;
}

.mycitzy-header{
  position: relative;
  transition: margin-bottom 333ms ease-in-out;
  background-color: @header-background;
}

.header-text {
  color: @header-logo-text-color;
}

.ui.inverted.menu .item {
  color: @menu-items-text-color;
}

.right.menu .item:hover {
  color: @menu-items-text-color-hover!important;
}

.ui.button.post-an-ad {
  min-width: 150px;
}


.ui.inverted.menu {
  background-color: transparent;
}

.ui.inverted.menu .item:before, .ui.vertical.inverted.menu .item:before {
  background: none;
}

/* Post an add button start */
div.right.menu > .header-nav-post-an-ad {
  border: 1px solid @post-an-add;
  transition-duration: 250ms;
}

div.right.menu > .header-nav-post-an-ad:hover {
  background: @post-an-add;
  transition-duration: 250ms;
}

/* Post an add end */

.dropdown .simple .item {
  border: none;
}

/* Mobile menu - start */
.mobile_menu {
  min-width: 331px!important;
  font-weight: 600;
  top: 0!important;
  font-size: 1.1rem;
}

// Set z index to 1001 if mobile menu is active to show above dimmer
.mobile_menu_active {
  z-index: 10000;
}

.mobile_menu_active .mobile_menu {
  right: -15px!important;
}
/* Mobile menu end */


/* Device visibility */
@media (min-width: 48em) {

  /* Hide mobile menu on large resolution */
  .mobile-menu-icons {
    display: none!important;
  }
}

@media (max-width: 47.99em) {

  .computer-icons  {
    display: none!important;
  }

}
/* End - Device visibility */
