<div class="ui divider hidden"></div>
<div class="ui middle aligned center aligned grid">
  <div class="sixteen wide mobile ten wide tablet eight wide computer column">
    <div class="ui stacked segment">
      <div class="ui basic secondary google plus button fluid">
        <i class="google plus icon"></i>
        Sign in with Google*
      </div>
      <div class="ui divider hidden"></div>
      <p>
        Existing users can also still log in with Facebook*
      </p>
      <div class="ui horizontal divider">
        Or
      </div>
      <div class="ui basic grey button fluid">
        I have an account
      </div>
      <div class="ui divider hidden"></div>
      <div class="ui basic grey button fluid" [ngClass]="{'loading': ( postAd$ | async )?.isCreatingAd }" (click)="createAdGuest(true)">
        I'm new
      </div>
    </div>
    <div class="ui basic segment">
      *By using social login, you agree to our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>.
    </div>
  </div>
</div>
