<div class="ui top attached fluid icon three item menu stackable" *ngIf="visibility">
  <a class="item" *ngFor="let location of (locations$ | async)" [ngClass]="{'active': selectedBrowsLocation?.id === location?.id}" (click)="browsLocationSelect(location)">
    <i class="{{location.code}} flag"></i>
    {{ location.displayName }}
  </a>
</div>
<div class="ui attached segment browse-category" *ngIf="visibility">
  <div class="ui internally celled grid three column wide browse-category">
    <div class="column" *ngFor="let locations of ( ad$ | async)?.locationsLevels; let i = index;">
      <div class="ui list selection middle aligned relaxed divided browse-category">
        <div class="item" *ngFor="let location of locations" [ngClass]="{'active': location?.active}" (click)="nextOrCheck(location, i + 1)">
          <div class="right floated content">
            <i class="icon chevron right" [ngClass]="{'green': location?.active}" *ngIf="location?.hasChildrens"></i>
            <i class="icon check large inverted green right" *ngIf="location?.active && !location?.hasChildrens"></i>
          </div>
          <div class="content">
            {{location.displayName}}
          </div>
        </div>
      </div>
    </div>
    <!-- code for drawing vertical lines -->
    <div class="column" *ngIf="( ad$ | async)?.locationsLevels?.length < 3"></div>
    <div class="column" *ngIf="( ad$ | async)?.locationsLevels?.length < 2"></div>
    <div class="column" *ngIf="( ad$ | async)?.locationsLevels?.length < 1"></div>
  </div>
</div>
<div class="ui divider hidden" *ngIf="visibility"></div>
<button type="button" *ngIf="visibility" class="ui button green right floated" [disabled]="!markAsSelection" (click)="onLocationSelected.emit(markAsSelection)">Continue</button>
<div *ngIf="visibility" class="ui divider hidden clearing"></div>
