.ui.segment.browse-category {
  padding: 0;
}

.ui.grid.browse-category {
  padding: 0;
}

.ui.grid.browse-category .column {
  padding: 0;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.ui.list.browse-category .item {
  padding: 10px 5px;
}
