<div class="ui dimmer modals" *ngIf="visibility" [ngClass]="{'visible active': visibility}">
  <div class="ui modal visible active small" [ngClass]="{'visible active': visibility}" [style.margin-top.px]="-(height / 2)">
    <i class="close icon" (click)="closeModal()"></i>
    <div class="header">
      {{title}}
    </div>
    <div class="content">
      <div class="description">
        <ng-content select=".text"></ng-content>
      </div>
    </div>
  </div>
</div>
