<div class="ui {{ className }}">
<div class="title" [ngClass]="{'active': isOpen}" (click)="toggleOpen($event)">
  <i class="dropdown icon"></i>
  {{ title }}
  <div class="content" [hidden]="!isOpen">
    <ng-content></ng-content>
  </div>
</div>
</div>
