<div class="ui grid" *ngIf="banner">
  <div *ngFor="let image of banner?.images; let i = index;" class="{{visibilityClass(i)}} only row">
    <img src="http://api.citzy.com/Image/GetImage?ImageId={{image?.imageId}}" />
  </div>
</div>
