<!-- Header component -->
<app-ui-header
        [ngClass]="{'active': (layout$ | async)?.isDimmerVisible}"
        title="Citzy.com"
        (onMobileMenuClicked)="mobileMenuDimmer()"
        (onMobileMenuItemClicked)="goToLocation($event)"
        [mobileMenuActive]="mobileMenuActive">
</app-ui-header>

<!-- Search component -->
<app-ui-search
  [categories]="(layout$ | async )?.categories"
  [location]="(layout$ | async )?.searchBox?.location"
  [search]="(layout$ | async )?.searchBox?.search"
  [selected]="(layout$ | async )?.searchBox?.category"
  (onSearch)="onSearchBox($event)"></app-ui-search>

<app-ui-dimmer (onDimmerClose)="hideDimmer()" [visibility]="(layout$ | async)?.isDimmerVisible"></app-ui-dimmer>

<!-- Megamenu component -->
<app-ui-megamenu
  [ngClass]="{'active': (layout$ | async)?.isDimmerVisible && !mobileMenuActive}"
  (onMenuClicked)="showSubcategories($event)"
  (backToMainMenuClicked)="hideSubcategories()"
  [visibility]="(layout$ | async)?.isMegaMenuVisible"
  [isDimmerActive]="(layout$ | async)?.isDimmerVisible"
  [isSubcategoryVisible]="(layout$ | async)?.isSubcategoriesVisible"
  [menuItems]="(layout$ | async )?.categories"></app-ui-megamenu>

<!-- Banner component -->
<app-ui-banner *ngIf="(layout$ | async )?.isBannerVisible" [banner]="(layout$ | async)?.randomBanner"></app-ui-banner>

<div class="ui container">
  <router-outlet></router-outlet>
</div>


<app-ui-top-searches-location
  *ngIf="(layout$ | async )?.isTopSearchesLocationVisible"
  [topsearches]="(layout$ | async )?.topsearches"
  [toplocations]="(layout$ | async)?.toplocations"></app-ui-top-searches-location>

<!-- Footer component -->
<app-ui-footer></app-ui-footer>

