<div class="ui center aligned basic segment">
    <i class="star huge icon"></i>
</div>
<div class="ui center aligned basic segment">
    <h1>You must login to see your favorites!</h1>
</div>
<div class="ui center aligned basic segment">
    <button class="ui red button">Login now</button>
</div>