<div class="ui top attached fluid labeled icon seven item menu small no-borders stackable" *ngIf="visibility">
  <a class="item" *ngFor="let category of (categories$ | async)" [ngClass]="{'active': selectedBrowsCategory?.id === category?.id}" (click)="browsCategorySelect(category)">
    <i class="icon grey {{ category?.icon }}"></i>
    {{ category.displayName | uppercase }}
  </a>
</div>
<div class="ui attached segment browse-category" *ngIf="visibility">
  <div class="ui internally celled grid four column wide browse-category doubling">
    <div class="column" *ngFor="let categories of ( ad$ | async)?.categoryLevels; let i = index;">
      <div class="ui list selection middle aligned relaxed divided browse-category">
        <div class="item" *ngFor="let category of categories" [ngClass]="{'active': category?.active}" (click)="nextOrCheck(category, i + 1)">
          <div class="right floated content">
            <i class="icon chevron right" [ngClass]="{'green': category?.active}" *ngIf="category?.hasChildrens"></i>
            <i class="icon large check square inverted green right" *ngIf="category?.active && !category?.hasChildrens"></i>
          </div>
          <div class="content">
            {{category.displayName}}
          </div>
        </div>
      </div>
    </div>
    <!-- code for drawing vertical lines -->
    <div class="column" *ngIf="( ad$ | async)?.categoryLevels?.length < 4"></div>
    <div class="column" *ngIf="( ad$ | async)?.categoryLevels?.length < 3"></div>
    <div class="column" *ngIf="( ad$ | async)?.categoryLevels?.length < 2"></div>
    <div class="column" *ngIf="( ad$ | async)?.categoryLevels?.length < 1"></div>
  </div>
</div>
<div *ngIf="visibility" class="ui divider hidden"></div>
<button *ngIf="visibility" type="button" class="ui button green right floated continue" [disabled]="!markForSelection" (click)="onCategorySelected.emit(markForSelection)">Continue</button>
<div *ngIf="visibility" class="ui divider hidden clearing"></div>
