@import "../../../colors.less";
@import "../../../layout.less";

:host {
  background-color: white;
  display: block;
  border-bottom: 3px solid @green-color;
}

:host.active {
  position: relative;
  z-index: 1002;
}
// border right on menu items computers  menus
.ui.grid.citzy-megamenu.computer.only>.column:not(:last-child) {
  border-right: 1px solid @menu-items-border-right-color;
}

// border right on menu items tablet menus
.ui.grid.citzy-megamenu.tablet.only>.column:not(:last-child) {
  border-right: 1px solid @menu-items-border-right-color;
}

// border bottom on menu items mobile only menu
.ui.grid.mobile.only>.column:not(:last-child) {
  border-bottom: 1px solid @menu-items-border-right-color;
}

// border bottom on menu items mobile only menu
.ui.grid.mobile.only>.column.back-to-main-menu:not(:last-child) {
  border-bottom: 1px solid #020202;
}

.back-to-main-menu a.content i.chevron {
  float: @float-right;
}

// megamenu meta text color ( computers only big resolution )
.ui.items>.item .meta.citzy-menu-metatext {
  color: @meta-text-color;
}

// hover color
.citzy-menu-hover:hover {
  background: @menu-items-hover-color;
}

// font size for computer
.column.computer.only .content .header.citzy-megamenu-computer-fontsize {
  font-size: @font-size-menu-headers-computer-only!important;
}
.content.citzy-megamenu-text {
  color: @citzy-megamenu-text-color;
}

// font size for tablet
.column.tablet.only .content .header.citzy-megamenu-tablet-fontsize {
  font-size: @font-size-menu-header-tablet-only!important;
}

.ui.items>.item .meta.margin-0 {
  margin: 0
}

.whiteBackground {
  background: @active-menu-item-background!important;
}

.green-border {
  border-top: 3px solid @green-color;
}

.citzy-megamenu-position {
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .citzy-megamenu-position {
    position: inherit;
  }
}

.mobile_menu {
  z-index: 1001;
}
