<!-- Computer menu start -->
<div class="ui container fluid" *ngIf="visibility" [ngClass]="{'customGrayBackground': isDimmerActive}">
  <div class="ui container">
    <div class="ui seven column center aligned padded grid computer only citzy-megamenu" [ngClass]="{'customGrayBackground': isDimmerActive}">
      <div class="column computer only citzy-menu-hover"
           (click)="menuClick(item.id, item.displayName, true)"
           *ngFor="let item of menuItems"
           [ngClass]="{'whiteBackground': item.id === selectedCategoryId}">
        <div class="ui items">
          <div class="item">
            <a class="content">
              <div class="header citzy-megamenu-computer-fontsize">{{ item.displayName | uppercase }}</div>
              <div class="meta citzy-menu-metatext margin-0">
                <span>{{ item.marketingText }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Computer menu end -->

    <!-- Tablet only menu start -->
    <div class="ui seven column center aligned padded grid tablet only citzy-megamenu" *ngIf="visibility" [ngClass]="{'customGrayBackground': isDimmerActive}">
      <div class="column tablet only citzy-menu-hover"
           (click)="menuClick(item.id, item.displayName, true)"
           *ngFor="let item of menuItems;"
           [ngClass]="{'whiteBackground': item.id === selectedCategoryId}">
        <div class="ui items">
          <div class="item">
            <a class="content">
              <div class="header citzy-megamenu-tablet-fontsize">{{ item.displayName | uppercase }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Tablet only menu end -->
  </div>

  <!-- Mobile only menu -->
  <div class="ui one column aligned padded grid mobile only whiteBackground"
       *ngIf="visibility && !isSubcategoryVisible">
    <div *ngFor="let item of menuItems"
         (click)="menuClick(item.id, item.displayName, false)"
         class="column citzy-menu-hover">
      <div class="ui items">
        <div class="item">
          <a class="content">
            <div class="header">{{ item.displayName | uppercase}}</div>
            <i class="chevron right black large icon right floated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile only menu end -->
</div>
<div class="ui container fluid citzy-megamenu-position">
  <div class="ui container">
    <!-- Display subcategories for computer and tablet menus only -->
    <div class="ui padded grid computer tablet only whiteBackground green-border" *ngIf="isSubcategoryVisible">
      <p></p>
      <div class="column row">
        <div class="sixteen wide computer sixteen wide tablet column">
          <h3 class="ui header">View all in {{ selectedCategory }}</h3>
        </div>
      </div>
      <div class="four wide computer four wide tablet column" *ngFor="let chunks of loadSubcategories(4)">
        <div class="ui items">
          <div class="item" *ngFor="let item of chunks">
            <div class="middle aligned content citzy-megamenu-text">
              {{ item.displayName }}
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider hidden"></div>
    </div>
    <!-- Display subcategories for computer and tablets only menus end -->
  </div>

  <!-- Display subcategories for mobile menu only -->
  <div class="ui one column aligned padded grid mobile only whiteBackground"
       *ngIf="isSubcategoryVisible">
    <div class="column citzy-menu-hover back-to-main-menu" (click)="backToMainMenu(false)">
      <div class="ui items">
        <div class="item">
          <a class="content">
            <div class="header">Main Menu</div>
            <i class="chevron left black large icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div *ngFor="let item of loadSubcategories(1)"
         class="column citzy-menu-hover">
      <div class="ui items">
        <div class="item">
          <a class="content">
            <div class="header">{{ item.displayName }}</div>
            <i class="chevron right black large icon right floated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Display subcategories for mobile menu only end -->
</div>
