<div class="ui three doubling cards" #cards>
  <div class="card movable" *ngFor="let image of images; let i = index">
    <div class="ui active inverted dimmer" *ngIf="image?.uploading">
      <div class="ui loader"></div>
    </div>
    <a class="ui grey right corner label" (click)="removeImage(i)"  *ngIf="!image?.uploading"><i class="icon trash"></i></a>
    <div class="image">
      <img [src]="image?.data" />
    </div>
  </div>
  <div class="card ignore-elements">
    <app-postad-upload-image-button *ngIf="images.length < limit" (onFileSelected)="onFileSelected($event)"></app-postad-upload-image-button>
  </div>
</div>
<div class="ui error message" [ngClass]="{'visible': hasError}">
  <p>Wrong image type and size. Maximum file size is: 2MB</p>
</div>
