@import "../../../colors.less";

.ui.header.citzy {
  font-weight: normal;
}

.pricing-segment {
  background-color: @pricing-segment-bg;
}

.pricing-segment .ui.header {
  margin-bottom: 0;
  color: @pricing-segment-font-color;
}

.pointer {
  cursor: pointer
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.ad-footer-font {
  font-size: 12px;
}

.ad-footer-button {
  background: #dd4b56;
}

.right-centered {
  text-align: right;
}

.ui.mini.image {
  width: 26px;
}
