<h3 class="ui header citzy">Post an ad</h3>

<form class="ui form" [formGroup]="adForm" novalidate (submit)="postAd()">

  <h3 class="ui top attached header">
    Category <i *ngIf="(ad$ | async)?.category" class="icon check circle inverted green"></i>
  </h3>
  <div class="ui attached segment">
    <form class="ui form" formGroupName="category" *ngIf="!(ad$ | async)?.category">
      <p>Tell us what you are posting: </p>
      <div class="two fields">
        <div class="field">
          <div class="ui input icon" [ngClass]="{'loading': (ad$ | async)?.isFetchingSuggestions}">
            <input type="text" formControlName="categorySearch" name="category" autocomplete="off" placeholder="e.g.Ford focus, Sofa, Bar job..." />
            <i class="remove link icon" (click)="adForm.get('category').get('categorySearch').reset()" *ngIf="adForm.get('category').get('categorySearch').value?.length"></i>
          </div>
        </div>
      </div>
      <h4 class="ui header" *ngIf="(ad$ | async)?.suggestions && !(ad$ | async)?.isFetchingSuggestions && adForm.get('category').get('categorySearch').value?.length > 2">Suggested Categories</h4>
      <div class="ui divided middle aligned selection list" *ngIf="adForm.get('category').get('categorySearch').value?.length > 2">
          <div class="item" *ngFor="let suggestion of (ad$ | async)?.suggestions" (click)="selectCategory(suggestion, true)">
          <div class="right floated content">
            <a title="{{suggestion.displayName}}">Select</a>
          </div>
          <div class="content">
            <div class="header">{{suggestion.displayName}}</div>
            <p>
              {{prettyTreePrint(suggestion.path, '>')}}
            </p>
          </div>
        </div>
      </div>
      <div class="ui message" *ngIf="(ad$ | async)?.suggestions?.length === 0 && !(ad$ | async)?.isFetchingSuggestions && adForm.get('category').get('categorySearch').value">
        No category suggestions found
      </div>
      <p>
        <a class="pointer" (click)="browseCategory()">Or browse to find a category</a>
      </p>
    </form>
    <div class="ui middle aligned list no-margin" *ngIf="(ad$ | async)?.category">
      <div class="item">
        <div class="right floated content">
          <button class="ui basic button tiny" (click)="clearCategorySelection()">Reset</button>
        </div>
        <div class="content" [innerHTML]="prettyTreePrint((ad$ | async)?.category?.path, '/', true)"></div>
      </div>
    </div>
    <!-- browse categories -->
    <app-postad-create-category [visibility]="isBrowseCategoryOpen" (onCategorySelected)="selectCategory($event)"></app-postad-create-category>
    <!-- end of browse categories -->
  </div>
  <!-- end of category selection -->

  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.category">
    Location <i *ngIf="(ad$ | async)?.location" class="icon check circle inverted green"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.category">
    <form class="ui form" formGroupName="location" *ngIf="!(ad$ | async)?.location">
      <div class="two fields">
        <div class="field">
          <p>Enter your location: </p>
          <div class="ui input action fluid">
            <input type="text" placeholder="e.g.Dubai..." formControlName="locationSearch" name="location" autocomplete="off" />
            <button type="submit" class="ui green right button icon" [ngClass]="{'loading': ( ad$ | async)?.isFetchingLocation}" [disabled]="!adForm.get('location').get('locationSearch').value" (click)="searchForLocation(adForm.get('location').get('locationSearch').value)">
              GO
            </button>
          </div>
        </div>
      </div>
      <div class="ui divided middle aligned selection list">
        <div class="item" *ngFor="let suggestion of (ad$ | async)?.locationSuggestions" (click)="selectLocation(suggestion)">
          <div class="right floated content">
            <a title="{{suggestion.displayName}}">Select</a>
          </div>
          <div class="content">
            <div class="header">{{suggestion.displayName}}</div>
            <p>
              {{prettyTreePrint(suggestion.path, '>')}}
            </p>
          </div>
        </div>
      </div>
      <div class="ui message" *ngIf="(ad$ | async)?.locationSuggestions?.length === 0 && !(ad$ | async)?.isFetchingLocation && adForm.get('location').get('locationSearch').value">
        No location found
      </div>
      <p>
        We won't show your location at the ad.
      </p>
      <p>
        <a class="pointer" (click)="browseLocation()">Select your location instead.</a>
      </p>
    </form>

    <div class="ui middle aligned list no-margin" *ngIf="(ad$ | async)?.location">
      <div class="item">
        <div class="right floated content">
          <button class="ui basic button tiny" (click)="clearLocationSelection()">Reset</button>
        </div>
        <div class="content" [innerHTML]="prettyTreePrint((ad$ | async)?.location?.path, '/', true)"></div>
      </div>
    </div>

    <!-- browse location -->
    <app-postad-create-location [visibility]="isBrowseLocationOpen" (onLocationSelected)="selectLocation($event)"></app-postad-create-location>
    <!-- end of browse location -->
  </div>
  <!-- end of location selection -->
  <!--
  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category && (ad$ | async)?.category?.attributes?.sellerType">
    {{ (ad$ | async)?.category?.attributes?.sellerType?.displayName }} * <i *ngIf="(ad$ | async)?.sellerType" class="icon check circle inverted green"></i>
    <i *ngIf="adForm.get('sellerType').get('type').touched && !adForm.get('sellerType').get('type').valid" class="icon remove circle inverted red"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category && (ad$ | async)?.category && (ad$ | async)?.category?.attributes?.sellerType">
    <form class="ui form" formGroupName="sellerType">
      <div class="inline fields">
        <div class="field" *ngFor="let attribute of (ad$ | async)?.category?.attributes?.sellerType?.values">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="type" value="{{attribute?.name}}" (change)="changeSellerType(attribute?.name)">
            <label>{{attribute?.displayName}}</label>
          </div>
        </div>
      </div>
      <div class="ui error message" [ngClass]="{'visible': adForm.get('sellerType').get('type').touched && !adForm.get('sellerType').get('type').valid}">
        <p>{{ (ad$ | async)?.category?.attributes?.sellerType?.displayName }} can't be empty</p>
      </div>
    </form>
  </div>
  -->
  <!-- end of type selection -->

  <div class="ui clearing segment citzy pricing-segment" *ngIf="(ad$ | async)?.category">
    <h4 class="ui header inverted left floated">Ad Posting</h4>
    <h4 class="ui header inverted right floated">Free</h4>
  </div>
  <!-- end of pricing selection -->

  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    Ad title * <i *ngIf="(ad$ | async)?.title && adForm.get('title').get('value').valid" class="icon check circle inverted green"></i> <i *ngIf="adForm.get('title').get('value').touched && !adForm.get('title').get('value').valid" class="icon remove circle inverted red"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="title">
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('title').get('value').touched && !adForm.get('title').get('value').valid}">
          <input type="text" formControlName="value" name="title" maxlength="100" autocomplete="off" />
          <div class="ui error message" [ngClass]="{'visible': adForm.get('title').get('value').touched && !adForm.get('title').get('value').valid}">
            <p>Title can't be empty</p>
          </div>
        </div>
        <div class="field">
          {{100 - (adForm.get('title').get('value').value?.length)}} characters remaining
        </div>
      </div>
      <div class="field">
        <p>
          Write a short description of your ad and include all of the key highlights.
        </p>
      </div>
      <div class="ui divider"></div>
      <h4 class="ui header no-margin-top">Label as urgent:</h4>
      <div class="ui checkbox">
        <input type="checkbox" name="urgent" formControlName="urgent" (change)="isUrgent(adForm.get('title').get('urgent').value)">
        <label> <div class="ui red horizontal label">Urgent</div> 7 days - £9.95 Let people know you want to sell, rent or hire quickly. <a class="pointer" (click)="titleModal.showModal()">View Example</a></label>
      </div>
    </form>
  </div>
  <!-- end of title section -->

  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    Images <i *ngIf="(ad$ | async)?.images && adForm.get('images').get('value').valid" class="icon check circle inverted green"></i> <i *ngIf="adForm.get('images').get('value').touched && !adForm.get('images').get('value').valid" class="icon remove circle inverted red"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="images">
      <div class="ui grid">
        <div class="row">
          <div class="ten wide column">
            <app-postad-upload-image [limit]="9" (onImageUpload)="onImageUpload($event)" (onImageRemove)="onImageRemove($event)"></app-postad-upload-image>
          </div>
          <div class="six wide column">
            <p><b>You can add up to 9 images</b></p>
            <p>Upload as many clear images as possible; this will get your ad more views and replies!</p>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="inline fields">
        <div class="four wide field">
          <label>Add a YouTube video link:</label>
        </div>
        <div class="eight wide field">
          <img src="assets/images/icons/youtube.png" class="ui mini image" />
          <div class="ui input">
            <input type="text" formControlName="youtube" placeholder="" name="youtube" autocomplete="off" />
          </div>
        </div>
        <div class="four wide field"></div>
      </div>
    </form>
  </div>
  <!-- end of images section -->

  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    Description * <i *ngIf="(ad$ | async)?.description && adForm.get('description').get('value').valid" class="icon check circle inverted green"></i> <i *ngIf="adForm.get('description').get('value').touched && !adForm.get('description').get('value').valid" class="icon remove circle inverted red"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="description">
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('description').get('value').touched && !adForm.get('description').get('value').valid}">
          <textarea formControlName="value"></textarea>
        </div>
        <div class="field">
          <p>
            {{100000 - (adForm.get('description').get('value').value?.length)}} characters remaining (12 words minimum).
          </p>
          <p>
            Enter as much information possible; ads with detailed and longer descriptions get more views and replies!
          </p>
        </div>
      </div>
      <div class="field">
        <div class="ui error message" [ngClass]="{'visible': adForm.get('description').get('value').touched && !adForm.get('description').get('value').valid}">
          <p>You must write at least 12 words in your description</p>
        </div>
      </div>
    </form>
  </div>
  <!-- end of description section -->
  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    How much do you want for your item? * <i *ngIf="(ad$ | async)?.price > 0 && adForm.get('price').get('value').valid" class="icon check circle inverted green"></i> <i *ngIf="adForm.get('price').get('value').touched && !adForm.get('price').get('value').valid" class="icon remove circle inverted red"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="price">
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('price').get('value').touched && !adForm.get('price').get('value').valid}">
          <label>Price: *</label>
          <div class="ui labeled input">
            <div class="ui label basic" [ngClass]="{'red': adForm.get('price').get('value').touched && !adForm.get('price').get('value').valid}">
              $
            </div>
            <input type="number" formControlName="value" placeholder="" name="price" autocomplete="off" />
          </div>
        </div>
        <div class="field">
        </div>
      </div>
      <div class="ui error message" [ngClass]="{'visible': adForm.get('price').get('value').touched && !adForm.get('price').get('value').valid}">
        <p>Please enter a price lower than £1,000,000,000</p>
      </div>
    </form>
  </div>
  <!-- end of price section -->
  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    Website Link <i *ngIf="(ad$ | async)?.web?.length > 0  && adForm.get('weblink').get('value').valid" class="icon check circle inverted green"></i> <i *ngIf="adForm.get('weblink').get('include').value && adForm.get('weblink').get('value').touched && !adForm.get('weblink').get('value').valid" class="icon remove circle inverted red"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="weblink">
      <div class="two fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="inlcude" formControlName="include" (change)="includeLink(adForm.get('weblink').get('include').value)">
            <label>Include a link to your website for <b>£7.50</b>. <a class="pointer" (click)="titleModal.showModal()">View Example</a></label>
          </div>
        </div>
        <div class="field">
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('weblink').get('include').value && adForm.get('weblink').get('value').touched && !adForm.get('weblink').get('value').valid}">
          <div class="ui labeled input" [ngClass]="{'disabled': !adForm.get('weblink').get('include').value}">
            <input type="text" placeholder="" formControlName="value" name="web" autocomplete="off"  />
          </div>
        </div>
        <div class="field">
          {{493 - (adForm.get('weblink').get('value').value?.length)}} characters remaining
        </div>
      </div>
      <div class="field">
        <div class="ui error message" [ngClass]="{'visible': adForm.get('weblink').get('include').value && adForm.get('weblink').get('value').touched && !adForm.get('weblink').get('value').valid}">
          <p>Please enter a valid website link</p>
        </div>
      </div>
    </form>
  </div>
  <!-- end of website section -->

  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    Make your ad stand out! <i *ngIf="(ad$ | async)?.promotion?.urgent || (ad$ | async)?.promotion?.featured || (ad$ | async)?.promotion?.spotlight" class="icon check circle inverted green"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="promotion">
      <div class="field">
        Select an option to promote your ad
      </div>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <div class="ui checkbox">
              <input type="checkbox" name="urgent" formControlName="urgent" (change)="selectPromotion()">
              <label> <div class="ui red horizontal label">URGENT</div> Let people know you want to sell, rent or hire quickly.* <a class="pointer" (click)="titleModal.showModal()">View Example</a></label>
            </div>
          </div>
          <div class="four wide field right-centered">
            <b>7 days - £9.95</b>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <div class="ui checkbox">
              <input type="checkbox" name="featured" formControlName="featured" (change)="selectPromotion()">
              <label> <div class="ui blue horizontal label">FEATURED</div> Have your Ad appear at the top of the category listings for 3, 7 or 14 days.* <a class="pointer" (click)="titleModal.showModal()">View Example</a></label>
            </div>
          </div>
          <div class="four wide field right-centered">
            <select class="ui dropdown" formControlName="featured_price" (change)="selectPromotion()">
              <option value="15">3 days - £15.00</option>
              <option value="18.95">7 days - £18.95</option>
              <option value="22.95">14 days - £22.95</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <div class="ui checkbox">
              <input type="checkbox" name="spotlight" formControlName="spotlight" (change)="selectPromotion()">
              <label> <div class="ui green horizontal label">SPOTLIGHT</div> Have your Ad seen on the Citzy homepage!* <a class="pointer" (click)="titleModal.showModal()">View Example</a></label>
            </div>
          </div>
          <div class="four wide field right-centered">
            <b>7 days - £28.95</b>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="selectall" formControlName="all" (change)="selectAllPromotion(adForm.get('promotion').get('all').value)">
          <label> Select all</label>
        </div>
      </div>
    </form>
  </div>
  <!-- end of adType section -->

  <h3 class="ui top attached header" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    Create a Citzy account* <i *ngIf="adForm.get('user').valid" class="icon check circle inverted green"></i> <i *ngIf="adForm.get('user').touched && !adForm.get('user').valid" class="icon remove circle red inverted"></i>
  </h3>
  <div class="ui attached segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <form class="ui form" formGroupName="user">
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('user').get('firstName').touched && !adForm.get('user').get('firstName').valid}">
          <label>First name ( Shown on ad )</label>
          <input type="text" placeholder="" formControlName="firstName" name="firstName" autocomplete="off" />
          <div class="ui error message" [ngClass]="{'visible': adForm.get('user').get('firstName').touched && !adForm.get('user').get('firstName').valid}">
            <p>First name can't be empty</p>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('user').get('lastName').touched && !adForm.get('user').get('lastName').valid}">
          <label>Last name</label>
          <input type="text" placeholder="" formControlName="lastName" name="lastName" autocomplete="off" />
          <div class="ui error message" [ngClass]="{'visible': adForm.get('user').get('lastName').touched && !adForm.get('user').get('lastName').valid}">
            <p>Last name can't be empty</p>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('user').get('email').touched && !adForm.get('user').get('email').valid}">
          <label>Email</label>
          <input type="text" placeholder="" formControlName="email" name="email" autocomplete="off" />
          <div class="ui error message" [ngClass]="{'visible': adForm.get('user').get('email').touched && !adForm.get('user').get('email').valid}">
            <p>Please enter a valid e-mail</p>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field" [ngClass]="{'error': adForm.get('user').get('password').touched && !adForm.get('user').get('password').valid}">
          <label>Password</label>
          <div class="ui action input">
            <input #passwordInput type="password" placeholder="Choose a strong password" formControlName="password" name="password" autocomplete="off" />
            <button type="button" (click)="showPassword()" class="ui button basic" [ngClass]="{'red': adForm.get('user').get('password').touched && !adForm.get('user').get('password').valid}">Show</button>
          </div>
          <app-postad-password-strength *ngIf="adForm.get('user').get('password').value" [input]="adForm.get('user').get('password').value"></app-postad-password-strength>
          <div class="ui error message" [ngClass]="{'visible': adForm.get('user').get('password').touched && !adForm.get('user').get('password').valid}">
            <p>Please enter at least 6 characters. <br/>
              Include at least one number or special character <br/>
              e.g. !@#$%^*-_+=</p>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Telephone Number</label>
          <input type="text" placeholder="" formControlName="telephone" name="telephone" autocomplete="off" />
        </div>
      </div>
      <div class="field" formGroupName="contact" [ngClass]="{'error': adForm.get('user').get('contact').touched && !adForm.get('user').get('contact').valid}">
        <label>Contact type shown on my ad</label>
        <div class="ui checkbox">
          <input type="checkbox" name="email" formControlName="email">
          <label> Email</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" name="phone" formControlName="phone">
          <label> Phone</label>
        </div>
        <div class="ui error message" [ngClass]="{'visible': adForm.get('user').get('contact').touched && !adForm.get('user').get('contact').valid}">
          <p>One contact type is required.</p>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="recieve_news" formControlName="receive_news">
          <label> I would like to receive news, offers and promotions from Citzy</label>
        </div>
      </div>
      <div class="field">
        By creating a Citzy account you are agreeing to our website terms of use and privacy policy.
      </div>
    </form>
  </div>
  <!-- end of user section -->
  <div class="ui clearing segment citzy pricing-segment" *ngIf="(ad$ | async)?.location && (ad$ | async)?.category">
    <h3 class="ui header inverted left floated">Total</h3>
    <h3 class="ui header inverted right floated">{{ '£' + ((ad$ | async)?.adPrice + (ad$ | async)?.promotionPrice).toFixed(2) }}</h3>
  </div>
  <!-- end of total selection -->

  <div class="ui divider hidden"></div>
  <div *ngIf="(ad$ | async)?.location && (ad$ | async)?.category" class="ui grid">
    <div class="ten wide column">
      <p>
        By clicking 'Post my ad', you agree to Citzy's <a class="pointer">terms of use</a> , <a class="pointer">privacy policy</a> and <a class="pointer">posting rules</a>
      </p>
      <p class="ad-footer-font">
        *Average comparison in ad views and replies between ads that are not promoted and "urgent" or "featured" ads respectively, measured on the Citzy website from March 2012 to March 2013.
      </p>
      <p></p>
    </div>
    <div class="six wide column">
      <button class="ui button red fluid big ad-footer-button" type="submit">POST MY ADD</button>
    </div>
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
  </div>

</form>

<app-ui-modal #titleModal title="Mark your ad as urgent!" [height]="600">
  <div class="text">
    <div>Up to 3x more views and replies *</div>
    <div>An urgent label appears next to your ad in listings and search results</div>
    <div>Users can search specifically for Urgent ads</div>
    <div>Ideal if you need to sell, rent or hire quickly</div>
    <div>Ads are marked as Urgent for 7 days</div>
    <img class="ui image fluid" src="https://sa.gumtree.com/responsive/images/orphans/feature-carousel/promote-urgent.jpg" />
  </div>
</app-ui-modal>
