// Customization of less files

// general
@green-color: #21ba45;
@black-color: black;
@gray-color: #e7e7e7;
@page-background-color: #f5f5f5;
@megamenu-active-item-background-color: #cccccc !important;
@ahref-links-color: #787878;

// header component
@header-background: #FFFFFF;
@post-an-add: #21ba45;
@header-logo-text-color: #3A9F03;
@menu-items-text-color: #494949;
@menu-items-text-color-hover: black;

// search component
@search-component-background: #f8f8f8;

// megamenu component
@menu-items-border-right-color: #D5D5D5;
@citzy-megamenu-text-color: gray;
@menu-items-hover-color: #F1F1F1;
@meta-text-color: #b1adb3;
@bottom-border-megamenu-color: #30AA24;
@link-hover-color: rgba(0,0,0,.85);
@active-menu-item-background: white;

// post ad page
@pricing-segment-bg: #494949;
@pricing-segment-font-color: white;

// home component
@name-on-cards-text-color: #6EA152;
@ahref-top-location-and-searches-color: #615a5a;
@ahref-top-location-and-searches-color-inactive: #c3c3c3;
