// General
@float-right: right;

// Megamenu component
@font-size-menu-headers-computer-only: 1.08571429em;
@font-size-menu-header-tablet-only: 0.9em;

// Home component
@top-searches-and-location-border: 1px solid rgba(34,36,38,.15);
// @top-tabs-favorites-myalerts-recommended-shadow: 1px 7px 5px 0 #D4D4D5;
// @sidebar-shadow: 6px 5px 20px #D4D4D5;
@top-tabs-favorites-myalerts-recommended-shadow: 0px 6px 5px -3px #D4D4D5;
@sidebar-shadow: 10px 0px 16px -7px #D4D4D5;

// Recommended tab
@mobileBreakpoint            : 320px;
@tabletBreakpoint            : 768px;
@computerBreakpoint          : 992px;
@largeMonitorBreakpoint      : 1200px;
@widescreenMonitorBreakpoint : 1920px;
