/* You can add global styles to this file, and also import other style files */
@import "colors.less";

body {
  background-color: @page-background-color;
}

.customGrayBackground {
  background:  @megamenu-active-item-background-color;
}

.whiteBackground {
  background: @active-menu-item-background!important;
}

.blackBackground {
  background: #494949;
}
