<div class="ui two column padded grid">
    <div class="two column row">
        <div class="thirteen wide computer thirteen wide tablet sixteen wide mobile column sidebar-shadow">
            <!-- Tabs Recommended, Favorites & My Alerts -->
            <div class="ui column center aligned padded grid top-citzy-tabs margin-bottom-5">
                <div class="four wide computer five wide tablet six wide mobile column">
                    <a class="home-component" routerLink="r" routerLinkActive="active-tab">
                        <i class="thumbs outline up large icon"></i>
                        Recommended
                    </a>
                </div>
                <div class="four wide computer five wide tablet mobile column">
                    <a class="home-component" routerLink="f" routerLinkActive="active-tab">
                        <i class="empty star large icon"></i>
                        Favorites
                    </a>
                </div>
                <div class="four wide computer five wide tablet mobile column">
                    <a class="home-component" routerLink="a" routerLinkActive="active-tab">
                        <i class="alarm outline large icon"></i>
                        My Alerts
                    </a>
                </div>
            </div>

          <router-outlet></router-outlet>

        </div>
        <div class="three wide column computer only">
            <!-- Sidebar -->
        </div>
    </div>
</div>
