@import "/../../colors.less";
@import "/../../layout.less";

:host {
  background-color: white;
}

a.home-component {
  color: @ahref-links-color;
}


.ui.list.top-location-search-links {
  color: @ahref-top-location-and-searches-color;
}

/* Top tabs Recommended, Favorites & My Alerts box shadow */
.ui.grid.top-citzy-tabs {
  box-shadow: @top-tabs-favorites-myalerts-recommended-shadow
}

/* Right sidebar box shadow */
.column .sidebar-shadow {
 box-shadow: @sidebar-shadow;
}

.top-citzy-tabs .column a.active-tab:after {
  position: absolute;
  display: block;
  z-index: 2;
  content: '';
  top: 83%;
  left: 50%;
  margin-left: -10px;
  background-color: #f5f5f5;
  width: 20px;
  height: 20px;
  -webkit-transition: transform .15s ease-in,-webkit-transform .15s ease-in;
  transition: transform .15s ease-in,-webkit-transform .15s ease-in;
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(45deg) scale(1);
  box-shadow: inset 3px 3px 3px hsla(280,4%,69%,.3), inset 1px 1px 1px hsla(280,4%,69%,.3);
}

.ui.padded.grid.margin-bottom-5 {
  margin-bottom: 5px!important;
}
