:host {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 395px;
    max-height: 400px;
}

.footer-grid {
  padding-top: 25px;
 }

.footer-social-grid {
  padding-bottom: 10px;
}

.footer-social-grid  {
  padding-bottom: 10px;
}

.footer-social-grid .copyright {
  color: rgb(121, 121, 121);
}

.footer-grid h4 {
  color: rgb(121, 121, 121);
}

.footer-social-grid  h4 {
  color: rgb(121, 121, 121);
}

.inactive-sublist {
  display: none!important;
}

.menu.language-dropdown-menu {
  background: #494949;
}
.ui.compact.dropdown.item {
  margin-right: 15px;
}

.ui.compact.dropdown.item .dropdown.icon {
  margin: 0 0 0 2px;
}

.language-dropdown-icon {
  padding-left: 7px;
}
