<div #footer class="ui container fluid blackBackground">
  <div class="ui container">
    <!-- Computer tablet grid start -->
    <div class="ui column padded inverted computer tablet only grid footer-grid">
      <div class="four wide column">
        <h4 class="ui inverted header">About Us</h4>
        <div class="ui inverted relaxed link list">
          <a class="item" href="">About Citzy</a>
          <a class="item" href="">Join our Chat</a>
          <a class="item" href="">Press contact</a>
          <a class="item" href="">Careers</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Help & Contact</h4>
        <div class="ui inverted relaxed link list">
          <a class="item" href="">Stay safe online</a>
          <a class="item" href="">How to sell</a>
          <a class="item" href="">How to buy</a>
          <a class="item" href="">Posting rules</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">More From Us</h4>
        <div class="ui inverted relaxed link list">
          <a class="item" href="">Blog</a>
          <a class="item" href="">Car price index</a>
          <a class="item" href="">Car guides - The inside Track</a>
          <a class="item" href="">Upcycle revolution</a>
          <a class="item" href="">Pet Rehoming Advice</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Mobile Apps</h4>
        <div class="ui inverted relaxed link list">
          <a class="item" href="">
            <img class="ui small image" src="assets/images/footer/androidapp.png">
          </a>
          <a class="item" href="">
            <img class="ui small image" src="assets/images/footer/appstore.png">
          </a>
        </div>
      </div>
    </div>
    <!-- Computer / tablet footer grid end -->

    <!-- Mobile footer grid start -->
    <div class="ui column mobile only centered divided grid footer-grid-mobile">
      <div class="sixteen wide column">
        <div class="ui huge divided inverted relaxed link list">
          <div class="item">
            <a class="item basic" #aboutUsEl>
              <div class="middle aligned content">
                About Us
                <i class="plus white icon right floated"></i>
              </div>
            </a>
            <div class="ui list" [ngClass]="{'inactive-sublist': !aboutUsActive}">
              <a class="item" href="">About Citzy</a>
              <a class="item" href="">Join our Chat</a>
              <a class="item" href="">Press contact</a>
              <a class="item" href="">Careers</a>
            </div>
          </div>
          <div class="item">
            <a class="item" #helpAndContactEl>
              <div class="middle aligned content">
                Help & Contact
                <i class="plus white icon right floated"></i>
              </div>
            </a>
            <div class="ui list" [ngClass]="{'inactive-sublist': !helpAndContactActive}">
              <a class="item" href="">Stay safe online</a>
              <a class="item" href="">How to sell</a>
              <a class="item" href="">How to buy</a>
              <a class="item" href="">Posting rules</a>
            </div>
          </div>
          <div class="item">
            <a class="item" #moreFromUsEl>
            <div class="middle aligned content">
              More From Us
              <i class="plus white icon right floated"></i>
            </div>
            </a>
            <div class="ui list" [ngClass]="{'inactive-sublist': !moreFromUsActive}">
              <a class="item" href="">Blog</a>
              <a class="item" href="">Car price index</a>
              <a class="item" href="">Car guides - The inside Track</a>
              <a class="item" href="">Upcycle revolution</a>
              <a class="item" href="">Pet Rehoming Advice</a>
            </div>
          </div>
        </div>
      </div>
        <div class="ui inverted relaxed link centered list">
          <a class="item" href="">
            <img class="ui small image" src="assets/images/footer/androidapp.png">
          </a>
          <a class="item" href="">
            <img class="ui small image" src="assets/images/footer/appstore.png">
          </a>
        </div>
    </div>
    <!-- Mobile footer grid end -->

    <div class="ui inverted section divider"></div>
    <div class="ui column padded centered grid footer-social-grid">
      <div class="ui horizontal inverted small link centered list">
        <h4 class="ui inverted header">Follow Us</h4>
        <a class="item" href="">
          <img class="ui mini image" src="assets/images/footer/facebook.png">
        </a>
        <a class="item" href="">
          <img class="ui mini image" src="assets/images/footer/twitter.png">
        </a>
        <a class="item" href="">
          <img class="ui mini image" src="assets/images/footer/googleplus.png">
        </a>
        <h5 class="ui header copyright">
          <div class="ui compact dropdown item" (click)="openLanguageDropdown()" #languageDropDown>
            <i class="world icon"></i> English<i class="caret up icon language-dropdown-icon"></i>
            <div class="ui menu language-dropdown-menu" [ngClass]="{'transition visible animating slide upward': languageDropDownOpen}">
              <a class="ui item">English</a>
              <a class="ui item">Arabic</a>
            </div>
          </div>
          © Copyright 2000-2017. All rights reserved. Terms of Use, Privacy Policy & Cookies Policy
        </h5>
      </div>
    </div>
  </div>
</div>
